.about {
    // background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('../images/schneider.jpg') no-repeat right bottom / cover;
    // background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/schneider.jpg') no-repeat right bottom / cover;
    background-color: black;
    text-align: center;
    height: 50rem;
    color: #bec5d9;

    display: grid;
    grid-template-rows: 30% 70%;
    border: .2rem solid transparent;

  &__container {
      width: 70%;
      margin: 0 auto;
  }
}