/* NAVIGATION BAR + HEADER STYLE START */
.header {
  background: rgba(139, 139, 109, 0.2);
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: [nav-start] min-content [nav-end contact-start] 1fr [contact-end];
  
  &__nav {
    top: 0;
    left: 0;
    // right: 0;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: .5rem .5rem;

    display: grid;
    grid-template-columns: repeat(5, min-content);
    justify-content: center;

    &-item {
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 22px;
      text-decoration: none;
      color: rgb(216, 36, 36);
      cursor: pointer;
      border-bottom: .2rem solid transparent;
      padding-bottom: .5rem;
      transition: .2s;
      filter: brightness(40%);
      letter-spacing: .2rem;

      &:hover {
        border-bottom: 1px solid #ffffff;
        filter: brightness(2);
      }
    }
  }
}

.contact__display {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  justify-content: end;
  top: 0;

  &-icon {
    fill: rgb(216, 39, 39);
    height: 2rem;
    width: 2rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
  }

  &:last-child {
    margin-right: 2rem;
  }
}