@import '_mixins';

.portfolio {
  background: #f3f3f3;
  height: 100%;
  padding-top: 5rem;
  height: auto;
  
  @include respond(tab-port){
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 17rem;
    padding-top: 5rem;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    justify-items: center;
  }
  
  @include respond(big-desktop){
    display: grid;
    grid-template-rows: min-content min-content;
  }
  
  &__container {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    
    @include respond(tab-port){
      padding-bottom: 15rem;
      width: 80%;
      grid-row-gap: 1.5rem;
    }

    @include respond(big-desktop){
      justify-items: center;
    }
  }
  &__img {
    width: 80%;
    height: 25rem;
    justify-self: center;

    @include respond(phone_landscape){
      height: 30rem;
      // width: 50%;
    }

    @include respond(tab-land){
      width: auto;
    }

    @include respond(desktop) {
      width: 70%;
    }
  }

  &__preview {
      padding-bottom: 5rem;
      text-align: center;

      @include respond(tab-land){
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
      }
    }

  &__details {
    font-size: 1.7rem;
    }

  &__description {
    font-size: 1.5rem;
    padding: 1.5rem 2.4rem 1.5rem;
    text-align: justify;
    padding-bottom: 3rem;

    @include respond(desktop){
      padding-right: 0;
      
    }
  }

  &__button {
    text-align: center;
    text-decoration: none;
    color: #88a6e3;
  }
}

