@import '_mixins';

.portfolio {
  background: #f3f3f3;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  height: auto;
  
  @include respond(desktop){
    padding-bottom: 17rem;
    padding-top: 17rem;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    justify-items: center;
  }
  
  @include respond(big-desktop){
    padding-bottom: 17rem;
    padding-top: 17rem;
    display: grid;
    grid-template-rows: min-content min-content;
    justify-items: center;
  }
  
  &__container {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    padding-bottom: 15rem;
    
    @include respond(desktop){
      width: 80%;
      display: grid;
      grid-template-rows: repeat(3, min-content);
      grid-row-gap: 1.5rem;
    }

    @include respond(big-desktop){
      justify-items: center;
    }
  }
  &__img {
    width: 80%;
    height: 30rem;
    justify-self: center;
  }

  &__preview {
      padding-bottom: 5rem;

      @include respond(desktop){
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
      }
    }

  &__details {
    font-size: 1.7rem;
    text-align: center;
    }

  &__description {
    font-size: 1.3rem;
    padding-top: 1.5rem;
    padding-left: 2.4rem;
    text-align: justify;
  }

  &__button {
    text-align: center;
    border: .2rem solid black;
  }
}

