@import '_mixins';

.quote {
  &__container-right {
    display: none;

    @include respond(phone_landscape){
      background-color: transparent;
      display: grid;
      grid-template-columns: 20% 80%;
      margin-top: -2rem;
      justify-self: right;
      width: 60%;
    }
  }
  
  &__container-left {
    display: none;
    
    @include respond(phone_landscape){
      background-color: transparent;
      display: grid;
      grid-template-columns: 20% 80%;
      margin-top: -2rem;
      justify-self: left;
      width: 60%;
    }
  }
  
  &__text {
    font-family: $font-family-gochi;
    font-size: 2.4rem;
    filter: brightness(1.5);
    z-index: 7;
    line-height: 3rem;
    // width: 80%;
  }

  &__icon-left {
    fill: #e3b888;
    height: 5rem;
    width: 15rem;
    z-index: 2;
    margin: 1rem;
        margin-top: -2rem;

    @include respond(phone_landscape){
      height: 9rem;
    }
  }
}


