@import '_mixins';

.quote {
  &__container-right {
    display: none;

    @include respond(phone_landscape){
      background-color: transparent;
      display: grid;
      grid-template-columns: 20% 60% 20%;
      margin-top: -2rem;
      justify-self: right;
      width: 50%;
      padding-bottom: 4rem;
      padding-top: 4rem;
    }
  }
  
  &__container-left {
    display: none;
    
    @include respond(phone_landscape){
      background-color: transparent;
      display: grid;
      grid-template-columns: 20% 60% 20%;
      margin-top: -2rem;
      justify-self: left;
      width: 50%;
      padding-bottom: 4rem;
      padding-top: 4rem;
    }
  }
  
  &__text {
    font-size: 2.4rem;
    filter: brightness(1.5);
    z-index: 7;
    line-height: 3rem;
  }

  &__icon-left {
    fill: #88a6e3;
    height: 5rem;
    width: 15rem;
    z-index: 2;
    margin: 1rem;
    margin-top: -5rem;
    margin-left: 5rem;

    @include respond(phone_landscape){
      height: 9rem;
    }
  }

  &__icon-right {
    fill: #88a6e3;
    height: 5rem;
    width: 15rem;
    z-index: 2;
    transform: rotate(180deg);
    margin-left: -6rem;

    @include respond(phone_landscape){
      height: 9rem;
    }
  }
}


