.quote {
  background-color: transparent;
  
  &__container-right {
    background-color: transparent;
    display: grid;
    grid-template-columns: 20% min-content;
    width: 40%;
    margin-top: -2rem;
    justify-self: left;
  }
  
  &__container-left {
    background-color: transparent;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 40%;
    margin-top: -2rem;
    justify-self: left;
  }
  
  &__text {
    font-family: $font-family-gochi;
    font-size: 2.4rem;
    filter: brightness(1.5);
    margin-left: -10%;
    z-index: 7;
    line-height: 3rem;
    width: 40rem;
  }

  &__icon-left {
    fill: #e3b888;
    height: 9rem;
    width: 15rem;
    z-index: 2;
    margin: 1rem;
    margin-left: 1.5rem;
    margin-top: -5rem;

  }
}


