.skills {
  justify-items: center;
  display: grid;
  grid-template-rows: min-content min-content;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  width: 80%;
}

.skill__bar {
  color: rgb(53, 19, 19);
  background-color: #f1f1f1;
  
  &-level {
    color:#fff;
    background-color:#616141;
    padding: 4px 8px;
    text-align:center;
  } 
}