$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Nunito', sans-serif;
$font-family-terciary: 'Lato', sans-serif;
$font-family-quattro: 'Indie-Flower', cursive;
$font-family-caveat: 'Caveat', cursive;
$font-family-qwigley: 'Qwigley', cursive;
$font-family-kristi: 'Kristi', cursive;
$font-family-gochi: 'Gochi Hand', cursive;