@import 'layout/_footer';
@import 'layout/_header';

@import 'components/landing';
@import 'components/portfolio';
@import 'components/quote_section';

@import 'utils/mixins';
@import 'utils/variables';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 50%; // for rem unit 1 - 10px - mobile first (small screen)
}

body {
  font-weight: 300;
  line-height: 1.6;
  width: 100%;
  height: 100vh;

}
