@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$grey-light: #F3F3F3;
$black: black;
$link: #31708E;
// $white: #19181A;

// added theme colors 

$theme-one-blue: #427AA1;
$theme-one-white: #EBF2FA;
$theme-one-black: #070707;
$theme-one-blue-2: #C9DAEA;
$theme-one-purple: #331E38;

$color-primary: #051012;
$color-primary-light: #FFE;
$color-primary-dark: #FFD;

$font-family-primary: 'Montserrat', sans-serif;

// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
$grey-dark: $brown;
$primary: #051012;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $color-primary;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// navbar customisation

$navbar-item-hover-background-color: white !important;
$navbar-item-active-background-color: blue !important;
$navbar-height: 4rem;

$button-hover-color: green !important;


@import "../sass/main.scss";
// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma-divider/src/sass/index.sass";
@import "../node_modules/bulma-timeline/src/sass/index.sass";
@import "_contact.scss";
@import "_portfolio.scss";
@import "_skills.scss";

// body {
//   // background-color: #051012;
// }
.mountain-hero {
  // background-color: #ffffff;
  background-image: url('../images/olivier-miche-OZACaaUskhg-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

}

.personal__image {
  height: 12rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.2rem transparent;
}

.navbar.is-spaced {
  padding: 0.5rem 10rem 0.5rem 3rem;
}

.is-three-quarter {
  height: 66vh;
}

.is-one-quarter {
  height: 34vh;
}

.contact__icon {
  color: blue
}

.portfolio__img {
  width: 80%;
  height: 20rem;
}