.footer {
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: min-content min-content;
  justify-items: center;
}

.contact {
  padding: 4rem;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 2rem;
  justify-content: center;
  justify-items: center;
  
  &_headline {
    text-align: center;
    padding-bottom: 2rem;
  }

  &__icon {
    fill: #88a6e3;
    height: 2.6rem;
    width: 2.6rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
  }

  &__display {
    display: flex;
    justify-content: space-between;
    width: 30rem;
  }
}