@import '../utils/_mixins';

.about {
    background-color: black;
    color: #bec5d9;
    
    border: .2rem solid transparent;
    padding-bottom: 10rem;
    height: auto;
    padding-top: 10rem;
    
    @include respond(tab-port){
        text-align: center;
        padding-bottom: $margin-sections;
        display: grid;
        grid-template-rows: 30% 70%;

    }
  &__container {
      
      @include respond(phone_landscape){
        display: grid;
        grid-template-columns: 40% 60%;
        margin: 0 auto;
        padding-left: 3rem;
        padding-right: 3rem;
        width: 70%;
      }
  }

  &__image {
      text-align: center;

      @include respond(tab-port){
        align-self: center;
      }
  }

  &__text {
      align-self: center;
      text-align: justify;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
  }
}

.personal__image {
      height: 20rem;
      width: 20rem;
      border-radius: 50%;
      border: 0.2rem transparent;
  }
