.landing {
  width: 100%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.4);

  &__container {
    width: 100%;
    margin: 0 auto;
    padding-top: 35rem;
    padding-left: 2rem;

    display: flex;
    justify-content: start
    }
  
  &__scenery {
    // margin-top: 5rem;
  }

  &__name {
    justify-self: center;
    font-size: 4rem;
    line-height: 4.5rem;
    color: #a2b5eb;;
    width: 100%;
  }

  &__title {
    text-align: center;
    font-size: 2.3rem;
    line-height: 3.5rem;
    color: #a2b5eb;;
    width: 100%;
    margin-top: 2rem;
  }
}

.wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.logo {
  stroke: #000;
  fill: #000;
  stroke-dasharray: 1800;
  opacity: 10;
  animation: animate 2s cubic-bezier(0, 0.23, 1, 1)
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
  }

  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
  }

  90% {
    fill: rgba(0, 0, 0, 0);
  }

  100% {
    opacity: 10;
    fill: rgba(0, 0, 0, 1);
    stroke-dashoffset: 0;
  }
}