// theme one

$theme-one-blue: #427AA1;
$theme-one-white: #EBF2FA;
$theme-one-black: #070707;
$theme-one-blue-2: #C9DAEA;
$theme-one-purple: #331E38;

$color-primary: #FFF;
$color-primary-light: #FFE;
$color-primary-dark: #FFD;

$margin-sections: 17rem;