.footer {
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: min-content min-content;
  justify-items: center; }

.contact {
  padding: 4rem;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 2rem;
  justify-content: center;
  justify-items: center; }
  .contact_headline {
    text-align: center;
    padding-bottom: 2rem; }
  .contact__icon {
    fill: #88a6e3;
    height: 2.6rem;
    width: 2.6rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem; }
  .contact__display {
    display: flex;
    justify-content: space-between;
    width: 30rem; }

.header {
  border: 0.2rem transparent;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0; }
  @media only screen and (min-width: 75em) {
    .header {
      display: grid;
      grid-template-columns: [nav-start] min-content [nav-end contact-start] 1fr [contact-end]; } }
  @media only screen and (min-width: 75em) {
    .header__nav {
      left: .5rem;
      margin: 0 auto;
      position: relative;
      padding: .5rem .5rem;
      display: grid;
      grid-template-columns: repeat(5, min-content);
      justify-content: center; } }
  .header__nav-responsive {
    position: relative; }
    .header__nav-responsive .header__nav__icon {
      font-size: 4rem;
      text-decoration: none;
      color: #88a6e3;
      padding: 1.4rem 1.6rem;
      z-index: 10; }
    .header__nav-responsive .header__nav-item {
      float: none;
      display: block;
      text-align: left;
      display: block;
      color: #f2f2f2;
      padding: 1.4rem 1.6rem;
      text-decoration: none;
      font-size: 3rem;
      background-color: black;
      overflow: hidden;
      width: 100%; }
  .header__nav__icon {
    font-size: 3rem;
    text-decoration: none;
    color: #88a6e3;
    padding: 1.4rem 1.6rem;
    z-index: 10; }
    @media only screen and (min-width: 75em) {
      .header__nav__icon {
        display: none; } }
  .header__nav-item {
    display: none; }
    .header__nav-item:first-child {
      display: block; }
      @media only screen and (min-width: 56.25em) {
        .header__nav-item:first-child {
          display: none; } }
    @media only screen and (min-width: 56.25em) {
      .header__nav-item {
        margin-bottom: 0;
        font-size: 1.5rem;
        line-height: 2.2rem;
        text-decoration: none;
        color: #88a6e3;
        cursor: pointer;
        border-bottom: .2rem solid transparent;
        transition: .2s;
        letter-spacing: .2rem;
        display: inline-block;
        padding: 1rem; } }
    .header__nav-item:hover {
      border-bottom: .1rem solid #ffffff;
      filter: brightness(2); }
      .header__nav-item:hover:first-child {
        border-bottom: transparent; }
  .header__cv-icon {
    float: right;
    fill: #88a6e3;
    height: 2.6rem;
    width: 2.6rem;
    margin: 1rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 50%; }

body {
  font-weight: 300;
  line-height: 1.6;
  width: 100%;
  height: 100vh; }
