.heading-1 {
  font-family: "Caveat", cursive;
  font-weight: 400; }

.heading-1 {
  font-size: 3.5rem;
  text-align: center;
  padding-top: 20px; }
  .heading-1::after {
    content: "";
    height: 1px;
    display: block;
    background-color: red;
    margin-top: .8rem; }

.heading-2 {
  font-size: 3.5rem;
  line-height: 4rem;
  position: relative;
  margin: 2rem auto;
  text-align: center;
  display: table; }
  .heading-2::after {
    height: .3rem;
    display: block;
    content: "";
    width: 17rem;
    margin: .8rem auto 0 auto;
    background-color: #000000; }

.heading-3 {
  font-size: 1.8rem;
  padding-top: 1rem; }

.heading-4 {
  font-size: 1.6rem;
  padding-top: 1rem; }

.heading-5 {
  font-size: 1.8rem; }

.heading-6 {
  font-size: 1.6rem; }

.landing {
  width: 100%;
  height: 70vh; }
  .landing__container {
    width: 100%;
    margin: 0 auto;
    padding-top: 15rem;
    display: flex;
    justify-content: center; }
  .landing__scenery {
    margin-top: 10rem; }
  .landing__name {
    justify-self: center;
    font-size: 4rem;
    line-height: 4.5rem;
    color: white;
    width: 100%; }
  .landing__title {
    text-align: center;
    font-size: 1.8rem;
    line-height: 3.5rem;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin-top: 2rem; }

/* NAVIGATION BAR + HEADER STYLE START */
.header {
  border: 2px transparent;
  width: 100%;
  position: fixed;
  display: grid;
  top: .4rem;
  grid-template-columns: [nav-start] min-content [nav-end contact-start] 1fr [contact-end]; }
  .header__nav {
    left: .5rem;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: .5rem .5rem;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    justify-content: center; }
    .header__nav-item {
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 22px;
      text-decoration: none;
      color: #88a6e3;
      cursor: pointer;
      border-bottom: .2rem solid transparent;
      padding-bottom: .5rem;
      transition: .2s;
      letter-spacing: .2rem; }
      .header__nav-item:hover {
        border-bottom: 1px solid #ffffff;
        filter: brightness(2); }

.contact__display {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  justify-content: end;
  top: 0; }
  .contact__display-icon {
    fill: #88a6e3;
    height: 2rem;
    width: 2rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem; }
  .contact__display:last-child {
    margin-right: 2rem; }

.about {
  background-color: black;
  text-align: center;
  height: 50rem;
  color: #bec5d9;
  display: grid;
  grid-template-rows: 30% 70%;
  border: .2rem solid transparent; }
  .about__container {
    width: 70%;
    margin: 0 auto; }

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4); }
  .footer__icon {
    fill: #d82727;
    height: 2rem;
    width: 2rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem; }

.background {
  position: relative;
  margin-top: 8rem;
  background-color: #FFF; }
  .background__card {
    margin: 0 auto; }
  .background__card-container {
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 4rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 30% 70%;
    align-content: center;
    width: 80%; }
  .background__card-left {
    height: 12rem;
    position: relative;
    grid-column: 1 / 1;
    display: grid;
    grid-template-rows: 90% 10%; }
  .background__image {
    height: 10rem;
    transition: all .5s; }
  .background__card-right {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-row-gap: .9rem; }
  .background__card-right-container {
    display: grid;
    grid-template-columns: 70% 30%; }
  .background__time {
    justify-self: end; }

.skills {
  justify-items: center;
  display: grid;
  grid-template-rows: min-content min-content;
  margin-bottom: 17rem; }

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  width: 80%; }

.skill__bar {
  color: #351313;
  background-color: #f1f1f1; }
  .skill__bar-level {
    color: #fff;
    background-color: #616141;
    padding: 4px 8px;
    text-align: center; }

.quote {
  background-color: transparent; }

.quote__left {
  fill: #e3b888;
  height: 6rem;
  width: 9rem;
  z-index: 2;
  margin: 1rem; }

/*
0 - 600px:      Mobile First - where my styles apply
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   Desktop
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.portfolio {
  background: red;
  height: 70rem;
  margin-bottom: 30rem;
  justify-items: center;
  display: grid;
  grid-template-rows: min-content min-content; }
  .portfolio__container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem; }
  .portfolio__img {
    backface-visibility: hidden;
    transition: all .5s;
    width: 100%;
    height: 40rem; }
  .portfolio__preview {
    width: 35rem;
    height: 35rem;
    position: relative;
    overflow: hidden; }
  .portfolio__preview:hover .portfolio__details {
    opacity: 1; }
  .portfolio__preview:hover .portfolio__img {
    filter: blur(3px) brightness(80%); }
  .portfolio__details {
    position: absolute;
    top: 20%;
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .portfolio__description {
    font-size: 1.4rem;
    padding-top: 1.5rem;
    padding-left: 2.4rem; }
  .portfolio__button {
    text-align: center;
    border: .2rem solid black; }

.contact {
  background-color: #FFE; }
  .contact__container {
    display: grid;
    grid-template-columns: 50% 50%; }
    .contact__container-left {
      display: grid;
      grid-template-rows: 30% 20% 50%;
      grid-row-gap: 2rem; }
  .contact__image {
    width: 100%;
    height: 30rem; }

.noteabout100Days {
  font-size: 1.7rem;
  color: pink; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 50%; }
  @media only screen and (max-width: 112.4em) {
    html {
      font-size: 62.5%; } }

body {
  font-weight: 300;
  line-height: 1.6;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif; }
  @media only screen and (max-width: 112.4em) {
    body {
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; } }

.container {
  display: grid;
  grid-template-rows: repeat(6, min-content); }
