.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4); }
  .footer__icon {
    fill: #d82727;
    height: 2rem;
    width: 2rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 300;
  line-height: 1.6;
  width: 100%;
  height: 98vh;
  font-family: "Montserrat", sans-serif; }

.container {
  display: grid;
  grid-template-rows: repeat(7, 90vh); }
